# Binance Futures Testnet API Credentials
# Get your testnet API keys from: https://testnet.binancefuture.com/

BINANCE_TESTNET_KEY=your_testnet_api_key_here
BINANCE_TESTNET_SECRET=your_testnet_api_secret_here
