# Bybit Futures Testnet API Credentials
# Get your testnet API keys from: https://testnet.bybit.com/

BYBIT_TESTNET_KEY=your_testnet_api_key_here
BYBIT_TESTNET_SECRET=your_testnet_api_secret_here
TESTNET=true
